
<app-loading-spinner [isVisible]="isLoading"></app-loading-spinner>

<!-- *ngIf="product" nshanakum e ete product null che nor meji HTML cuyc tur -->
<div *ngIf="product">
  <form #productForm="ngForm" (ngSubmit)="updateProduct(productForm)">
    <div class="form-group">
      <label for="product-id">
        ID
      </label>
      <input id="product-id"
             name="id"
             type="number"
             class="form-control"
             readonly="readonly"
             [(ngModel)]="product.id" />
    </div>

    <div class="form-group">
      <label for="product-name">
        Name
      </label>
      <input id="product-name"
             name="name"
             type="text"
             class="form-control"
             required="required"
             maxlength="50"
             [(ngModel)]="product.name"
             #name="ngModel" />
      <div *ngIf="name.errors" class="text-danger">
        <div *ngIf="name.errors.required">
          The Name field is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="product-description">
        Description
      </label>
      <textarea id="product-description"
                name="description"
                class="form-control"
                maxlength="300"
                [(ngModel)]="product.description">
    </textarea>
    </div>

    <div class="form-group">
      <label for="product-quantity">
        Quantity
      </label>
      <input id="product-quantity"
             name="quantity"
             type="number"
             class="form-control"
             [(ngModel)]="product.quantity" />
    </div>

    <div class="form-group">
      <label for="product-unit-price">
        Unit Price
      </label>
      <input id="product-unit-price"
             name="unitPrice"
             type="number"
             class="form-control"
             [(ngModel)]="product.unitPrice" />
    </div>

    <div class="form-group">
      <label for="product-uom">
        Unit of Measure
      </label>
      <select id="product-uom"
              name="uom"
              class="form-control"
              [(ngModel)]="product.unitOfMeasureId">
        <option value="">-- Please Select --</option>

        <option *ngFor="let uom of unitOfMeasures" [value]="uom.id">
          {{uom.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="currency">
        Currency
      </label>
      <select id="currency"
              name="currency"
              class="form-control"
              [(ngModel)]="product.currencyId">
        <option value="">-- Please Select --</option>

        <option *ngFor="let item of currencies" [value]="item.id">
          {{item.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="product-type">
        Product Type
      </label>
      <select id="product-type"
              name="productType"
              class="form-control"
              [(ngModel)]="product.productTypeId">
        <option value="">-- Please Select --</option>

        <option *ngFor="let item of productTypes" [value]="item.id">
          {{item.name}}
        </option>
      </select>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        Save
      </button>
    </div>
  </form>

  <div>
    <h2>
      Categories
    </h2>

    <div class="form-group">
      <label for="selected-category">
        Categories
      </label>
      <div class="input-group">
        <select id="selected-category"
                name="selectedCategory"
                class="form-control"
                [(ngModel)]="selectedCategory">
          <option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
          </option>
        </select>

        <div class="input-group-append">
          <!--
            (click) kanchvum e erb user-e sxmum e ays button-e.
            (click) event-i mej karaq component-i mejic cankacac public function kanchel
          -->
          <button type="button" class="btn btn-primary" (click)="addCategory()">
            Add
          </button>
        </div>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let productCategory of productCategories">
          <td>
            {{productCategory.category.id}}
          </td>
          <td>
            {{productCategory.category.name}}
          </td>
          <td>
            {{productCategory.category.description}}
          </td>
          <td>
            <!--
              (click) kanchvum e erb user-e sxmum e ays button-e.
              (click) event-i mej karaq component-i mejic cankacac public function kanchel
            -->
            <button type="button" class="btn btn-secondary" (click)="deleteCategory(productCategory.category.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h2>
      Brands
    </h2>

    <div class="form-group">
      <label for="selected-brand">
        Brands
      </label>
      <div class="input-group">
        <select id="selected-brand"
                name="selectedBrand"
                class="form-control"
                [(ngModel)]="selectedBrand">
          <option *ngFor="let brand of brands" [value]="brand.id">
            {{brand.name}}
          </option>
        </select>

        <div class="input-group-append">
          <button type="button" class="btn btn-primary" (click)="addBrand()">
            Add
          </button>
        </div>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let productBrand of productBrands">
          <td>
            {{productBrand.brand.id}}
          </td>
          <td>
            {{productBrand.brand.name}}
          </td>
          <td>
            {{productBrand.brand.description}}
          </td>
          <td>
            <button type="button" class="btn btn-secondary" (click)="deleteBrand(productBrand.brand.id)">
              Delete
            </button>
          </td>
        </tr> 
      </tbody>
    </table>
  </div>
</div>
