
<app-loading-spinner [isVisible]="isLoading"
                     loadingMessage="Loading Products..."
                     [canHide]="true"
                     (hideClick)="spinnerHidden()"></app-loading-spinner>

<div>
  <a [routerLink]="['create']" class="btn btn-primary mb-3">
    Create Product
  </a>

  <table class="table">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Description
        </th>
        <th>
          Quantity
        </th>
        <th>
          Unit Price
        </th>
        <th>
          Unit of Measure
        </th>
        <th>
          Product Type
          </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>

    <tbody>
      <!-- *ngFor nuynn e inch vor C#-i meji foreach loop-e -->
      <tr *ngFor="let product of products">
        <td>
          {{product.id}}
        </td>
        <td>
          {{product.name}}
        </td>
        <td>
          {{product.description}}
        </td>
        <td>
          {{product.quantity}}
        </td>
        <td>
          {{product.unitPrice}}
        </td>
        <td>
          {{product.productType?.name}}
          </td>
        <td>
          {{product.unitOfMeasure?.name}}
        </td>
        <td>
          <a class="btn btn-secondary" [routerLink]="['edit', product.id]">
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
