
<div>
  <a [routerLink]="['create']" class="btn btn-primary mb-3">
    Create Product Type
  </a>
  <table class="table">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Description 
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>

    <tbody>    
      <tr *ngFor="let type of productTypes">
        <td>
          {{type.id}}
        </td>
        <td>
          {{type.name}}
        </td>
        <td>
          {{type.description}}
        </td>
        <td>
          <a class="btn btn-secondary" [routerLink]="['edit', type.id]">
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
